<ul>
    <li><a href="/people">Members</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

<div>
    <h2>Generate Teams</h2>
    <table>
        <tr>
            <td>How many members per team</td>
            <td><input type="number" id='number' required></td>
        </tr>
        <tr><td><button onclick='formTeams()'>Generate Teams</button></td></tr>
    </table>
</div>
<h2>Teams</h2>
<div class='teams' id='teams'>

</div>